/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #FFD700; /* Golden */
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: #FFD700;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #FFD700;
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

li span {
    flex-grow: 1;
}

.purchased {
    text-decoration: line-through;
    background-color: #f0e68c;
}

button.edit {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
}

button.edit:hover {
    background-color: #FFD700;
    color: #000000;
}
